<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DLI: File Manager</title>
  <link rel="stylesheet" href="../visuals/styles.css">
</head>
<body>
  <div class="file-manager" id="file-manager">
      <h2>Select Your Gimmicks</h2>
    <ul id="file-list">
        <!-- File items will be added here -->
    </ul>
      <p id="instructions">Use the ↑ and ↓ keys to navigate and press Enter to select.</p>
  </div>
  <script src="../javascript/selection/main.js"></script>
</body>
</html>
